
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order! ,</h1>
 <% @order.line_items.map do |f|%>
    <aside class= 'check'>
      <h2><%=f.product.name%></h2>
      <img class='img' src= '<%=f.product.image %>' '></img>
      <h5><%=f.product.description%></h5>
      <h4 class='quant' >quantity: <%=f[:quantity]%></h4>
      <h4>Item Price: $ <%=f[:item_price_cents] / 60 %></h4>
      <h4>Item Total: $ <%=f[:total_price_cents] / 60 %></h4>
      </aside>
    <% end %>
   <aside class= 'total'>
     <h3>Total: $ <%=@order[:total_cents] / 60 %></h3>


    <p>Have a great day!</p>
  </body>
</html>